nav{
  height: 10vh;
  width: 100 vw;
  margin-bottom: 5%;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left:25%;
  margin-right: 25%;
}
footer{
  background-color: aliceblue;
  position: absolute;
  right: 20px;
  bottom: 20px;
}