nav{
  height: 10vh;
  
  width: 100 vw;
  margin-bottom: 5%;
}
nav span.MuiButton-label{
  color: aliceblue;
  font-size: xx-large;
}
body{
  background-color: pink;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-left:25%;
  padding-right: 25%;
}
footer{
  background-color: aliceblue;
  position: absolute;
  right: 20px;
  bottom: 20px;
}