.apiTextField{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.loader{
    font-size: xx-large;
}
.requestTypeButtons{
    display:flex;
}
.buttonContainer{
    height: 100%;
}
.MuiButtonBase-root{
    height: 56px;
}
.fieldContainer{
    width: 90%;
    display:flex;
}
.filled-basic{
    width: 30%;
    margin: 0;
}
.outlined-basic{
    width: 70%;
    margin:0;
}


#buttonSubmit{
    width: 100%;
    font-size: x-small;
}